  <div class="container autom">
    <div class="row" *ngIf="user">
      <div class="test">
        <article class="centerLink">
          <header>
            <h2>
              Bonjour,<div class="nomEmail bold col"> {{user.username}}</div>
            </h2>
          </header>
  
          <p class="grey">Il n'y pas d'actualités sur votre compte</p>
          <a class="" (click)="logout()">Déconnection</a>
        </article>
        <article class="inline artic">
          <header>
            <h2>Vos Voyages</h2>
          </header>
          <div *ngIf="bikeRoutes.length > 0; else noRoutes">
            <ul>
              <li *ngFor="let route of bikeRoutes">
                <strong>De :</strong> {{ route.origin }} <br>
                <strong>À :</strong> {{ route.destination }} <br>
                <strong>Enregistré le :</strong> {{ route.createdAt | date:'medium' }}
                <a [routerLink]="['/home']" [queryParams]="{ origin: route.origin, destination: route.destination }">
                  Voir l'itinéraire
                </a>
                <a (click)="deleteRoute(route._id)">
                  Supprimer
                </a>

              </li>
            </ul>
          </div>
          <ng-template #noRoutes>
            <p class="grey">Vous n'avez pas encore enregistré d'itinéraires.</p>
          </ng-template>
        </article>
        
      </div>
    </div>
  </div>