.star-rating span {
  font-size: 24px;
  cursor: pointer;
  color: #ddd;
}

.star-rating .filled {
  color: gold;
}

.account-buttons {
  cursor: pointer;
  text-decoration: none;
}

.account-actions{
  cursor: pointer;
  text-decoration: none;
  margin-top:3%;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-row-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.tooltiptext {
  visibility: hidden;
  background-color: #646262;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: auto;
  white-space: nowrap;
  font-size: 16px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.address-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.route-description{
  width: 50%;
}

@media (max-width: 1050px) {
  .address-form{
    flex-direction: column;
    
    justify-content: space-evenly;
  }
  .save-address-inputs{
    align-items:baseline !important;
  }

  .save-address-button{
    align-items: center !important;
  }

  .flex-row{
    flex-direction: column;
  }

  .route-description{
    width: 100%;
  }
}

@media (max-width: 550px) {
  .star-rating span {
    font-size: 15px;
  }

  .account-buttons{
    width: 15%;
  }
  
}