<div class="container aboutContainer">

    <div class="grid margin-flex"  >
        <div style="width: 100%;">
            <h1>About <div style="color:#3F72AF;display: inline;">BikeWay</div></h1>
            <p class="paragraphs">Welcome to BikeWay, your go-to resource for finding the best bike routes and bike-sharing locations on the map. Our team is passionate about promoting the use of bicycles as a sustainable and healthy mode of transport.</p>
        </div>
        <div style="width: 100%;">
            <img class="illustrationImage" src="../../../assets/images/illustrationVélo4.jpg" alt="Bike illustration" />
        </div>
    </div>

    <div class="grid margin-flex">
        <div style="width: 100%;text-align: center;">
            <img class="illustrationImage" style="width:100%;height:80%;" src="assets/images/illustrationVelo3.jpg" alt="Bike illustration" />
        </div>
        <div style="width: 100%;">
            <h1>Our <div style="color:#C9ADA7;display: inline;">Beliefs</div></h1>
            <p style="display:inline">At BikeWay, we believe that bicycles are a crucial solution to many challenges facing our cities and communities today. They provide a </p><div style="color:green;display: inline;">clean</div> <p style="display:inline"> and </p><div style="color:blue;display: inline;">efficient</div> <p style="display:inline"> way to move, reducing traffic congestion and air pollution, and promoting physical activity and overall well-being. Our services make it easy for people to find and use bicycles, making it more convenient than ever to choose cycling as a means of transportation.</p>
            <p>Our mission is to help bicycles conquer the world by making them accessible and practical for everyone. We are committed to providing the best user experience possible and continuously updating our features to make it even easier for you to find the perfect bike route and bike-sharing stations.</p>
        </div>
    </div>

    <div class="grid margin-flex">
        <div style="width: 100%;">
            <h1>Climate Change?</h1>
            <p>Bicycles not only offer a clean and efficient way to get around, but they also play an important role in reducing carbon emissions. By choosing to bike instead of driving, we can significantly reduce the amount of CO2 released into the atmosphere.
                <br><h6>*Number of trips in Paris by <div style="color:blue;display: inline;">bike</div> and by <div style="display: inline;color:orange">car</div></h6> <a href='https://www.sciencedaily.com/releases/2019/06/190612085654.htm'>Source</a></p>
        </div>
        <div style="width: 100%;">
            <img class="illustrationImage" src="../../../assets/images/graph.PNG" alt="Bike Graph" />
        </div>
    </div>

    <div class="team-section margin-flex">
        <div style="width: 100%;">
            <img class="illustrationImage" src="../../../assets/images/graph.PNG" alt="Bike Graph" />
        </div>
        <div style="width: 100%;">
            <h2>Meet the Team!</h2>
            <p>The people behind BikeWay, passionate about cycling and eager to make a difference.</p>
            <ul>
                <li>Victor de Vitry - Founder / Software engineer</li>
            </ul>
        </div>
    </div>

</div>
