<div class="container-fluid">
  <nav>
    <ul>
      <li>
        <strong>
          <a routerLink="/home">
            <img class="brand-logo" [src]="isDarkTheme ? 'assets/images/logo-white-transparent.png' : 'assets/images/logo-dark.png'" />
          </a>
        </strong>
      </li>
      <li>
        <a class="menu-page" routerLink="/popular-routes">Popular routes</a>
      </li>
      <li>
        <a class="menu-page" routerLink="/about">About us</a>
      </li>
    </ul>
    <ul style="margin-right:1%">
      <li>
        <button (click)="toggleTheme()" class="theme-button">
          <img class="header-logo" width="35" height="35" src="{{ isDarkTheme ? 'https://img.icons8.com/ios-filled/35/FFFFFF/sun--v1.png' : 'https://img.icons8.com/sf-regular-filled/003366/35/moon-symbol.png' }}" alt="user-male-circle"/>
        </button>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="menu-user" routerLink="/log-in">Log in</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a class="menu-user" routerLink="/account">
          <img class="header-logo" width="35" height="35" src="{{ isDarkTheme ? 'https://img.icons8.com/material-sharp/35/FFFFFF/user-male-circle.png' : 'https://img.icons8.com/material-rounded/35/003366/user-male-circle.png' }}" alt="user-male-circle"/>
        </a>
      </li>
    </ul>
  </nav>
</div>
