<div class="container-fluid">
  <nav>
    <ul>
      <li>
        <strong>
          <a routerLink="/home">
            <img class="brand-logo" [src]="isDarkTheme ? 'assets/images/logo-white-transparent.png' : 'assets/images/logo-dark.png'" />
          </a>
        </strong>
      </li>
      <li>
        <a class="menu-page" routerLink="/itinerary-list">Famous itineraries</a>
      </li>
      <li>
        <a class="menu-page" routerLink="/a-propos">About us</a>
      </li>
    </ul>
    <ul>
      <li>
        <button (click)="toggleTheme()" class="theme-button">
          {{ isDarkTheme ? '🌞' : '🌙' }}
        </button>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="menu-user" routerLink="/log-in">Log in</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a class="menu-user" routerLink="/account">Account</a>
      </li>
    </ul>
  </nav>
</div>
