.brand-logo:hover{
    text-decoration: none;
    cursor: pointer;
}

.brand-logo{
     width: 200px;
}

.menu-page{
    text-decoration: none;
    cursor: pointer;
}

.menu-user:hover{
    text-decoration: none;
    cursor: pointer;
}

.theme-button{
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.header-logo{
    min-width: 30px !important;
    min-height:30px !important;
}

.burger-button{
    display: none;
    background-color: transparent;
    border:1px solid var(--pico-primary);
    color:var(--pico-primary) !important;
}

.hide-menu{
    display: inline;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    background-color: var(--pico-background-color);
    top: 50px;
    right: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 1px solid;
    border-radius: 5px;
  }
  
  .dropdown-menu a, .dropdown-menu button {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width: 768px) {

    .burger-button{
        display: inline;
    }

    .hide-menu{
        display: none;
    }
    
}


