.brand-logo:hover{
    text-decoration: none;
    cursor: pointer;
}

.brand-logo{
     width: 200px;

}


.menu-page{
    text-decoration: none;
    cursor: pointer;
}


.menu-user:hover{
    text-decoration: none;
    cursor: pointer;
}

.theme-button{
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

