<div class="container-fluid">
    <div class="container routesSearchField grid">
        <div class="container-fluid inp">
            <p>Adresse de départ</p>
            <input type="text" id="start-adress" placeholder="Paris" />
            <p>Utiliser ma position <input class="searchInput" type="checkbox" id="switch" name="switch" role="switch" (change)="toggleLocation()"></p>
        </div>
        <div class="container-fluid inp">
            <p>Adresse d'arrivé</p>
            <input placeholder="Orléans" id="end-adress" type="text" />
        </div>
        <div class="grid inline">
            <a id="search-route" class="icons-search">
                Show route
            </a>

            <a class="icons-search" (click)="saveRoute()">
                Save route
            </a>

            <a (click)="getNearbyBikeStations()" class="icons-search">
                Show nearby bike rentals
            </a>
        </div>
    </div>
    <div class="map-container">
        <div id="map"></div>
    </div>
</div>