<div class="container" style="width: 70%; margin-top: 3%;">
    <article class="grid customedArticle">
        <div class="loginContainer">
            <h1>Sign Up</h1>
            <h5>Access all BikeWay services</h5>
            <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
                <p style="margin-bottom:1%">Username:</p>
                <input type="text" [(ngModel)]="username" placeholder="Enter username" name="username" required>
              
                <p style="margin-bottom:1%">Email:</p>
                <input
                  type="email"
                  [(ngModel)]="email"
                  name="email"
                  placeholder="Enter email"
                  required
                  #emailInput="ngModel"
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  style="margin-bottom:0;"
                >
                <!-- Display error message if email format is invalid -->
                <div *ngIf="emailInput.invalid && emailInput.touched" style="color:red;font-size:16px;">
                  Please enter a valid email address.
                </div>
              
                <p style="margin-bottom:1%;margin-top:2%">Password:</p>
                <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>
              
                <div class="container">
                  <input type="checkbox" id="terms" name="terms" [(ngModel)]="acceptedTerms" required>
                  <a style="cursor:pointer">Accept Terms and Conditions</a>
                </div>
              
                <div class="grid" style="margin-top: 2%;">
                  <button class="signUpInput" type="submit" [disabled]="!acceptedTerms || signUpForm.invalid">
                    Sign Up
                  </button>
                </div>
              </form>
            
        </div>
    </article>
</div>
