body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 0;
}

.toast {
    opacity: 1 !important; 
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
   
}
