

    <div class="container login-container">
            <article class="grid articled">
                    
                    <div id="image-login">         
                    </div> 
                    <div >
                            <hgroup>
                                    <h4>Connection</h4>
                                    <h5>Accedez à votre compte BikeWay</h5>
                            </hgroup>
                            <form>
                                    <label>Mail :</label>
                                    <input type="mail" placeholder="Entrez votre mail" name="mail" #mail required>
                                    <label>Mot de passe: </label>
                                    <input type="password" placeholder="Entrez votre mot de passe" name="password" #password required>
                                    <div class="container button-container">
                                        <button type="button">
                                            Se connecter
                                        </button>
                                        <a class="menu-page" routerLink="/sign-up">S'inscrire</a>

                                    </div>
                                   
                                        <a href="#"> Mot de passe oublié? </a>
                            </form>
                    </div>
                   
            </article>
    </div>


